<a href="#menu" class="initial"> M.NE </a>
<div class="dropdown">
    <button class="dropbtn"><img src="./assets/img/menu.png" class="menu-img"></button>
    <div class="dropdown-content">
        <a href="#expirience"> Expirience </a>
        <a href="#about"> About me </a>
        <a href="#project"> Projects </a>
        <a href="#contact"> Contact </a>
    </div>
</div>
<div class="menu" id="menu">
    <a href="#expirience"> Expirience </a>
    <a href="#about"> About me </a>
    <a href="#project"> Projects </a>
    <a href="#contact" class="contact"> Contact </a>
</div>

