<div class="left-site">
    <a href="#menu">M.NE</a>
    <div class="info">
        <div (click)="impressum()" class="impressum">
            Impressum
        </div>
        |
        <div class="privacy" (click)="privacy()">
            Legalnotice
        </div>

    </div>

    <div class="link">
        <a href="https://github.com/MartaNaranjoEipperle"> <img src="/assets/img/Github button.png"> </a>
        <a href="mailto:plachecinska@web.de"> <img src="/assets/img/Email button.png"> </a>
        <a href="https://de.linkedin.com/in/marta-naranjo-eipperle-358273257"><img src="/assets/img/Linkedin button.png"></a>
    </div>

</div>