<div class="about-me" [ngClass]="{
  'padding': more
}">
    <h1 data-aos="fade-down" [ngClass]="{
      'padding-top': more
    }">About me</h1>
    <div data-aos="fade-right" class="bottom">
      Hello, I'm a 33-year-old German-speaking programmer with a 
      passion for developing web applications using JavaScript and Angular. 
      My journey into programming began in July 2022, when I wrote my first 
      lines of code and immediately knew this was the path I wanted to pursue. 
      After a brief pause, I fully resumed programming in June this year, 
      refreshing my skills and expanding my knowledge through a DevSecOps course. 
      Since September, I have been studying Media Informatics at the Lübeck University 
      of Applied Sciences. Determined to turn my passion into a profession, 
      I decided to retrain as a programmer at the Developer Academy. 
      Over the past few months, I've dedicated every spare moment to mastering 
      the most common programming languages.
        </div> 
        <div  [ngClass]="{
            'none': !more, 'padding-bottom': more
          }" data-aos="fade-right">
          Based on various projects
          I have put the theory into practice. Starting with HTML and CSS,
          I have also implemented the latest projects with JavaScript
          and Angular. Thanks to the feedback from the teachers at the
          Developer Academy, I was able to constantly improve my projects
          and keep learning. During my retraining, I was also able to gain
          experience in the field of group project work. I appreciate
          the exchange with my colleagues, it helps me to better implement
          my goal-oriented way of working.
          You are welcome to look at the results of my work here, click through
          and try everything out.
    </div>

    <div  data-aos="fade-up" [ngClass]="{
        'none': more
      }">
        <div class="moreAbout" (click)="open()">More about me</div>
    </div>
</div>
<div class="image"></div>