<div class="about-me" [ngClass]="{
  'padding': more
}">
    <h1 data-aos="fade-down" [ngClass]="{
      'none': more
    }">About me</h1>
    <div data-aos="fade-right" class="bottom">
      Hello, I'm a 31-year-old German-speaking programmer
        with experience in developing web applications with
        JavaScript & Angular. When I wrote my first line of
        code in July, I knew that this was what I wanted to
        do with my life. I decided to complete retraining
        as a programmer at the Developer Academy. In the last
        few months, I have used every free hour to learn common
        programming languages.
        </div> 
        <div  [ngClass]="{
            'none': !more
          }" data-aos="fade-right">
          Based on various projects
          I have put the theory into practice. Starting with HTML and CSS,
          I have also implemented the latest projects with JavaScript
          and Angular. Thanks to the feedback from the teachers at the
          Developer Academy, I was able to constantly improve my projects
          and keep learning. During my retraining, I was also able to gain
          experience in the field of group project work. I appreciate
          the exchange with my colleagues, it helps me to better implement
          my goal-oriented way of working.
          You are welcome to look at the results of my work here, click through
          and try everything out.
    </div>

    <div  data-aos="fade-up" [ngClass]="{
        'none': more
      }">
        <div class="moreAbout" (click)="open()">More about me</div>
    </div>
</div>
<div class="image"></div>