.about-me {
    background-color: white;
    width: 50%;
    padding-left: 77px;
    padding-right: 77px;
    font-size: 18px;
    line-height: 170%;

    @media(min-width:2090px) {  
        font-size: 24px;
    }

    @media (min-width: 1800px) {
        margin-left: 177px;
    }

    h1 {
        padding-top: 120px;
        font-weight: 700;
        font-size: 55px;
        line-height: 66px;
        @media(min-width:2090px) {  
            font-size: 75px;
        }
    }

}

.bottom{
    margin-bottom: 30px;
    margin-right: 75px;
}

.image {
    position: absolute;
    left: 61vw;
    margin-top: 155px;
    background-image: url('/assets/img/marta2.png');
    background-size: contain;
    background-position: left;
    background-position: center;
    background-repeat: inherit;
    width: 472px;
    height: 452px;
    
    @media(min-width:2090px) {  
        width: 577px;
        height: 552px;
    }

    @media (max-width: 1800px) {
        left: 52vw;
    }
}

.moreAbout {
    width: 122px;
    margin-top: 120px;
    border-bottom: 1px solid #5B6876;
    margin-bottom: 120px;
    

    a {
        text-decoration: none;
        color: #000000;

        &:hover {
            opacity: 0.5;
        }
    }

    @media(min-width:2090px) {  
        font-size: 24px;
        width: 162px;
    }
}

.none{
    display: none;
}

.padding-top{
    padding-top: 10px!important;
}

.padding-bottom{
    padding-bottom: 60px!important;
}

.padding{
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 16px;
    @media(min-width:2090px) {  
        font-size: 24px;
    }
}


@media(max-width:1200px) {
    .about-me {
        h1 {
            padding-top: 40px;
        }

        .more {
            margin-bottom: 59px;
            margin-top: 62px;
        }
    }
}

@media(max-width:1130px) {
    .image{
        width: 420px;
        height: 402px;
    }
}

@media(max-width:1093px) {

    .about-me {
        h1 {
            font-size: 45px;
        }
    }
}

@media(max-width:850px) {
    .about-me {
        width: 82%;
    }

    .image {
        position: static;
        margin-top: -90px;
       margin-bottom: -120px;
    }

    .bottom{
        margin-right: 0px;
    }
}

@media(max-width:708px) {
    .image {
       margin-bottom: -80px;
    }
}

@media(max-width:655px) {
    .about-me {
        width: 77%;
    }
    .image {
        height: 335px;
        width: 350px;
    }
}

@media(max-width:440px) {
    .about-me {
        width: 67%;
    }

    .image {
        margin-bottom: 0px;
        margin-top: -55px;
    }
}

@media(max-height:390px) {
    .image {
        width: 100vw;
        height: 100vh;
        background-position: inherit;
    }
}