<div class="about-me">
    <h1 data-aos="fade-down">About me</h1>
    <div data-aos="fade-right">
        Hello, I'm a 31-year-old German-speaking programmer
        with experience in developing web applications with
        JavaScript & Angular. When I wrote my first line of
        code in July, I knew that this was what I wanted to
        do with my life. I now decided to complete a retraining
        as a programmer at the Developer Academy. In the last
        few months I have used every free hour to learn the common
        programming languages.
        </div> 
        <div data-aos="fade-right" [ngClass]="{
            'none': !more
          }">
        On the basis of various projects
        I have put the theory into practice. Starting with HTML and CSS,
        I have also implemented the latest projects with JavaScript
        and Angular. Thanks to the feedback from the teachers at the
        Developer Academy, I was able to constantly improve my projects
        and keep learning. During my retraining I was also able to gain
        experience in the field of group project work. I really appreciate
        the exchange with my colleagues, it helps me to better implement
        my goal-oriented way of working.
        You are welcome to look at the results of my work here, click through
        and try everything out.
    </div>

    <div class="more" data-aos="fade-up" [ngClass]="{
        'none': more
      }">
        <div (click)="open()">More about me</div>
    </div>
</div>
<div class="image"></div>