<div class="my-picture"></div>
<div class="short-about">
    <div class="me" data-aos="fade-left">
        I'm <font color="#5221E6">Marta</font> Naranjo Eipperle. <br>
        A Front End  Develop<font color="#5221E6">e</font>r <br>
        based in Germany.
    </div>
    <div class="passion" data-aos="fade-left">
        I discovered my passion for programming
         and would like to realize it in a job.<br>
         If you think I'd be a good match for your project, contact me!
    </div>
</div>