<div>
    <h3 data-aos="fade-up" class="none">MY PROJECTS</h3>
    <h1 class="none">Work that I've done <br>in the last few months</h1>
</div>



<div class="left-site">

    <h3 data-aos="fade-up" class="block">MY PROJECTS</h3>
    <h1 class="block">Work that I've done <br>in the last few months</h1>


    <div class="computer" data-aos="fade-right">
        <a href="https://marta-eipperle.developerakademie.net/Join/Log_In.html"><img
                src="/assets/img/project_2.png"></a>
        <div class="description">
            <h2>Join Tool</h2>
            <h4>I work with two guys to programming a Join tool
                to manage your tasks in a quick and simple way.
                This project lasted for 4 Weeks and was a good experiens.</h4>
        </div>
    </div>
    <div class="tablet" data-aos="fade-left">
        <a href="#menu"> <img src="/assets/img/project_1.png"> </a>
        <div class="description">
            <h2>Portfolio</h2>
            <h4>
                I hope i was able to show you my skills. Contact me if my portfolio conviced you.
            </h4>
        </div>
    </div>
</div>

<div class="right-site">
    <div class="phone" data-aos="fade-left">
        <a href="https://ring-of-fire-5ea6e.web.app"><img src="/assets/img/project_3.png"></a>
        <div class="description">
            <h2>Ring of Fire</h2>
            <h4> The Game Ring of fire is my first Angular project.
                I also used firebase here for optimal game results. </h4>
        </div>
    </div>
    <div class="laptop" data-aos="fade-up">
        <a href="https://marta-eipperle.developerakademie.net/polloloco/index.html"> <img
                src="/assets/img/project_4.png"></a>
        <div class="description">
            <h2>El Pollo Loco Game</h2>
            <h4> This is my first work with object oriented programming.
                I used the experience to better understand JavaScript. </h4>
        </div>
    </div>


</div>