<div class="left-site">
    <h1 data-aos="fade-right">Letz talk buissnes</h1>
    <div data-aos="fade-up">
        Now that you know a lot about me, let me know if you are interested to work with me.
    </div>
   
</div>

<form action="https://marta-eipperle.developerakademie.net/send_mail%204/send_mail.php" method="post" ngNativeValidate class="right-site">
    <div class="contact-input" data-aos="fade-left" >
        Name
        <input type="text" name="name" minlength="2" required>
        Email
        <input type="email" name="mail" required>
        Message
        <textarea class="message" name="message" minlength="10" required></textarea>
    </div>

    <button data-aos="fade-up">LET'S GET STARTED</button>

</form>