<div class="left-site">
    <h1 data-aos="fade-right">Letz talk buissnes</h1>
    <div data-aos="fade-up">
        Now that you konow a lot about me, let me know if you are interested to work with me
    </div>
   
</div>

<form action="https://marta-eipperle.developerakademie.net/send_mail%202/send_mail.php" method="post" class="right-site">
    <div class="contact-input" data-aos="fade-left">
        Name
        <input type="text" name="name">
        Email
        <input type="text" name="mail">
        Message
        <textarea class="message" name="message"></textarea>
    </div>

    <button data-aos="fade-up" >LET'S GET STARTED</button>

</form>