.header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    margin-left: 77px;
    margin-right: 77px;

    @media (max-width: 1254px) {
        margin-top: -78px;
    }

    @media (max-width: 830px) {
    margin-top: -121px;
    }

    @media(max-width:655px) {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.about {
    display: flex;
    flex-direction: row;
    margin-top: 150px;

    @media(max-width:850px) {
        flex-direction: column;
    }
}

.my-skills {
    display: flex;
    flex-direction: row;

    @media(max-width:990px) {
        flex-direction: column;
    }
}

.project {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    @media(max-width:1130px) {
        flex-direction: column;
    }
}

.contact {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;

    @media (max-width: 1093px) {
        margin-top: -78px;
    }

    @media(max-width:726px) {
        flex-direction: column;
    }
}