.d-header {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 88px;

    
}

a {
    font-size: 45px;
    color: #FFFF;
    font-weight: 600;
    text-decoration: none;
    padding-left: 77px;
    padding-right: 77px;
    &:hover{
        opacity: 0.5;
    }
}

h1{
    padding-bottom: 20px;
}

.impr{
    background-color: #FFFF;
    padding-left: 77px;
    padding-right: 77px;
    padding-top: 80px;
    padding-bottom: 80px; 
    height: calc(84vh - 124.92px - 76px - 26px);
    a{
        color: black;
        font-size: 16px;
        font-weight: 500;
    }
}