.expirience {
    padding-top: 180px;
    font-size: 16px;
    font-weight: 600;
    @media(min-width:2090px) {   
        font-size: 24px;;
        }
}


.project {
    margin-top: 12px;
    font-weight: 700;
    font-size: 55px;
    line-height: 76px;
    display: flex;
    align-items: center;
    @media(min-width:2090px) {   
        font-size: 75px;
        margin-top: 35px;
        }
}

.short-projectstory {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 88vw;

   

    @media(min-width:2500px) {
        width: 75vw!important;
    }
     @media(min-width:2700px) {
        width: 70vw!important;
    }
    @media (min-width: 1800px) {
        width: 80vw;
    }
    @media(max-width:1272px) {
    width: 87vw;
    }
    @media(max-width:1120px) {
        width: 86vw;
        }
}

.text {
    display: flex;
    flex-direction: row;
}

.my-projects {
    display: flex;
    flex-direction: column;
    width: 309px;
    @media(min-width:2090px) {  
        width: 477px;
    }
}

.project-number {
    font-weight: 400;
    font-size: 117px;
    line-height: 120%;
    display: flex;
    align-items: center;
    color: #8491A0;
    margin-top: 60px;
    @media(min-width:2090px) {   
        font-size: 160px;
        margin-top: 95px;
        }
}

.text {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    @media(min-width:2090px) {  
    font-size: 41px;
    line-height: 40px;
    }
}

.porject-title1 {
    color: #3CC74E;
    margin-right: 5px;
}

.porject-title2 {
    color: #609BFF;
    margin-right: 5px;
}

.porject-title3 {
    color: #E95D90;
    margin-right: 5px;
}

.more-description {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    margin-top: 20px;
    @media(min-width:2090px) {  
    font-size: 24px;
    }
}

@media(max-width:1162px) {
    .short-projectstory{
        flex-wrap: wrap;
    }

    .my-projects{
        margin-right: 40px;
    }
   }
   

   @media(max-width:1093px) {

    .project {
        font-size: 45px;
        line-height: 49px;
    }
}
