<div>
<div class="experiens" data-aos="fade-up">
    WORK EXPERIENCE
</div>
<div class="project" data-aos="fade-up">
    Projects I have realized <br>
    in the last months.
</div>
</div>
<div class="short-projectstory">
    <div class="my-projects" data-aos="fade-right">
        <div class="project-number">01</div>
        <div class="text">
            <div class="porject-title1">Join</div>
            , Work Platform
        </div>

        <div class="more-description">
            In group work, I programmed an app that helps
            to better communicate and manage the task list at work
        </div>
    </div>

    <div class="my-projects" data-aos="fade-up">
        <div class="project-number">02</div>
        <div class="text">
            <div class="porject-title2">El Pollo Loco</div>
           , Little Game
        </div>

        <div class="more-description">
            The project was programmed in such a way that you
            can achieve the greatest gaming experience with
            the help of simple game rules and sound effects.
        </div>
    </div>

    <div class="my-projects" data-aos="fade-left">
        <div class="project-number">03</div>
        <div class="text">
            <div class="porject-title3">Portfolio</div>
            , Self Presentation
        </div>

        <div class="more-description">
            The page was programmed with the help of angular,
            which illustrates my skills and projects
            of the last few months.
        </div>
    </div>

</div>