<div>
<div class="expirience" data-aos="fade-up">
    WORK EXPERIENCE
</div>
<div class="project" data-aos="fade-up">
    Behavior and experiences <br>
    that characterize my work
</div>
</div>
<div class="short-projectstory">
    <div class="my-projects" data-aos="fade-right">
        <div class="project-number">01</div>
        <div class="text">
            <div class="porject-title1"> Flexibility</div>
            and rethinking
        </div>

        <div class="more-description">
            Every day I find new ways and I am ready to rethink my strategy to achieve the goal.
             </div>
    </div>

    <div class="my-projects" data-aos="fade-up">
        <div class="project-number">02</div>
        <div class="text">
            <div class="porject-title2">Working </div>
            in a Team
        </div>

        <div class="more-description">
            During learning coding, I did numerous group projects where I learned how to develop a software project in a team with the principle according to scrum.
        </div>
    </div>

    <div class="my-projects" data-aos="fade-left">
        <div class="project-number">03</div>
        <div class="text">
            <div class="porject-title3">Fast</div>
            learning
        </div>

        <div class="more-description">
            I'm open to learning new skills and proved over the last months that I could work diligently towards a goal and achieve it.
        </div>
    </div>

</div>