

body, html{
    font-family: 'Sen', sans-serif;
    background-color: black;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    line-height: 150%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: #70d0e1 #8cd1e4 !important;

::-webkit-scrollbar{
width: 5px;
height: 3px;
}

::-webkit-scrollbar-track-piece{
background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical{
height: 7px;
background-color: #4b11f6;
}
}